/*Fonts Starts*/
@font-face {
  font-family: 'Didot';
  src: url('../fonts/Didot.eot');
  src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Didot.woff2') format('woff2'),
      url('../fonts/Didot.woff') format('woff'),
      url('../fonts/Didot.ttf') format('truetype'),
      url('../fonts/Didot.svg#Didot') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/GothamBold.eot');
  src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GothamBold.woff2') format('woff2'),
      url('../fonts/GothamBold.woff') format('woff'),
      url('../fonts/GothamBold.ttf') format('truetype'),
      url('../fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Book.woff2') format('woff2'),
      url('../fonts/Gotham-Book.woff') format('woff'),
      url('../fonts/Gotham-Book.ttf') format('truetype'),
      url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Light.woff2') format('woff2'),
      url('../fonts/Gotham-Light.woff') format('woff'),
      url('../fonts/Gotham-Light.ttf') format('truetype'),
      url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/Gotham-Medium.eot');
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Gotham-Medium.woff2') format('woff2'),
      url('../fonts/Gotham-Medium.woff') format('woff'),
      url('../fonts/Gotham-Medium.ttf') format('truetype'),
      url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.eot');
  src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Georgia.woff2') format('woff2'),
      url('../fonts/Georgia.woff') format('woff'),
      url('../fonts/Georgia.ttf') format('truetype'),
      url('../fonts/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Fonts Ends*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html {
  height: 100vh;
}
*:focus {
  outline: none;
}
body {
  background-image: url("../img/bg-texture.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  font-family: "GothamBook";
  position: relative;
  font-size: 18px;
}
h2, h3 {
  color: #7B9140;
}
p, li {
  font-size: 21px;
  font-family: "GothamBook";
  letter-spacing: 0.32px;
  line-height: 32px;
  color: #595959;
}

* {
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
a:hover {
  color: #A38067;
}

img {
  max-width: 100%;
  display: block;
}

.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
  z-index: 1;
}
.slick-dots li button, .slick-dots li {
  width: 24px;
  height: 24px;
}
.slick-dots li button:before {
  font-size: 11px;
  line-height: 25px;
  box-shadow: 0px 0px 0px 1px #ffffff;
  border-radius: 50%;
  color: #878789;
  opacity: 1;
  width: 24px;
  height: 24px;
}
.slick-dots li.slick-active button:before {
  color: #7B9140;
  box-shadow: 0px 0px 0px 1px #7B9140;
  opacity: 1;
}
.slick-dots {
  bottom: -50px;
}

.full-h {
  height: 100%;
}

.cta {
  background-color: #7B9140;
  color: #fff;
  letter-spacing: 0.2px;
  font-size: 1em;
  border: none;
  position: relative;
  width: 240px;
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'GothamBook';
}
.cta .fa {
  visibility: hidden;
  font-size: 14px;
  position: absolute;
}
.cta:hover {color: #ffffff;text-decoration: none;}
.cta:hover .fa {
  visibility: visible;
  padding-left: 10px;
}

.full-width img {
  max-width: 100%;
  display: block;
}

body input:focus, body textarea:focus {
  border: 1px solid #7B9140;
}

.change .white, .static .white, .color {display: none;}
.change .parent-drop .fa-angle-down {color: #595959;}
.change .color, .static .color {display: block;}

.change, .static header.change {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 5px #bdbdbd;
}
.change .navbar-light .navbar-nav .nav-link, .static .navbar-light .navbar-nav .nav-link {
  color: #595959;
}
.change .navbar-light .navbar-nav .nav-link:hover, .static .navbar-light .navbar-nav .nav-link:hover {
  color: #A38067;
}

.change .navbar-brand img {
  max-width: 110px;
  margin: 0 auto;
  
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.static {height: 100%;}
.static header {box-shadow: 0 0 5px #bdbdbd;}
.static .main-container {height: calc(100% - 104px);}
.static .main-container.contact {height: 100%;}
.flex {display: flex;}

.breadcrumb {position: absolute;background-color: transparent;z-index: 1;}
.breadcrumb ul li {display: inline-block;font-size: 14px;}

.parent-drop .dropdown a.nav-link {color: #595959;position: relative;}
.parent-drop {position: relative;}
.parent-drop .fa-angle-down {
  position: absolute;
  top: 14px;
  right: -16px;
  font-size: 20px;
}
.parent-drop.drop-active .fa-angle-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.parent-drop .dropdown a .fa-chevron-right {visibility: hidden;font-size: 14px;}
.parent-drop .dropdown a:hover .fa-chevron-right {visibility: visible;padding-left: 15px;}
.parent-drop .dropdown .fa-chevron-left {font-size: 14px; top: 12px;}
.parent-drop.drop-active a .fa-chevron-right {color: #A38067;}

.navbar-light .navbar-nav .dropdown .nav-link:hover {color: #A38067;}

/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/
.static header {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdbdbd;
}
header {
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.navbar-brand {
  margin-right: 0;
  padding: 0 2.222em;
}
.navbar {
   padding: 35px 0; 
}
.navbar-brand {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 11px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: "GothamMedium";
  font-size: 18px;
  letter-spacing: 0.2px;
}
header .navbar-nav .nav-item {
  /* padding: 0 15px; */
  margin: 0 6%;
}

.navbar-light .navbar-nav .nav-link:hover {color: #ffffff;}

.navbar-toggler {
    border: none;
    outline: none;
}
.navbar-nav.ml-auto.first {width: 48%;}
.navbar-nav.ml-auto.second {width: 41%;}


.scrollto {
  position: absolute;
  bottom: 30px;
  left: 50%;
  cursor: pointer;
}
.box span {
	width: 20px;
	height: 20px;
  display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
    -ms-transform: rotate(45deg) translate(10px, 10px);
    -o-transform: rotate(45deg) translate(10px, 10px);
    transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

.hamburger .line{
  width: 30px;
  height: 2px;
  background-color: #000000;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger:focus {outline: none;}
#hamburger-6.is-active{
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#hamburger-6.is-active .line:nth-child(2){
  width: 0px;
}
#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#hamburger-6.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}
#hamburger-6.is-active .line:nth-child(3){
  -webkit-transform: translateY(-3px) rotate(90deg);
  -ms-transform: translateY(-3px) rotate(90deg);
  -o-transform: translateY(-3px) rotate(90deg);
  transform: translateY(-3px) rotate(90deg);
}

.banner {
  background-image: url("../img/home/home-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 40px;
  position: relative;
}
.banner-text {
  font-size: 58px;
  color: #fff;
  font-family: Georgia;
  position: absolute;
  bottom: 60px;
  letter-spacing: 2.7px;
  line-height: normal;
  width: 100%;
}
.sticky-content {
  position: fixed;
  top: 15%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}
.sticky-content .rotate {
  writing-mode: vertical-rl;
}
.sticky-content .rotate h3 {
  transform: rotate(180deg);
}
.sticky-content div {
  padding: 12px;
  background-color: #A38067;
  margin: 5px 0;
  cursor: pointer;
}
.sticky-content h3 {
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.2px;
  font-family: 'GothamMedium';
  display: inline-block;
  vertical-align: top;
}
.sticky-content .download, .sticky-content .whatsapp {
  padding: 11px;
}
.download span {
  background-image: url('../img/home/download.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.whatsapp span {
  background-image: url('../img/home/whatsapp.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
}


.modal-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  font-family: 'GothamMedium';
}
.modal-dialog .close {
  position: absolute;
  top: -20px;
  right: -20px;
  color: #ffffff;
}
.modal-content, .modal-dialog .modal-header {
  border: none;
  border-radius: 0;
}
.modal-dialog .modal-header {
  background-color: #A38067;
  padding: 14px;
}
.modal-dialog .modal-header h4 {color: #ffffff;font-size: 1em;}
.enquire-modal .modal-body {padding: 0;}
.modal-dialog .nav-pills {justify-content: space-around;border-bottom: 1px solid #cccccc;}
.nav-pills .active {color: #A38067;}
.modal-dialog .nav-pills li {padding: 6px;}
.nav-pills li a {font-family: 'GothamMedium';color: #595959;text-decoration: none;}
.modal-dialog .nav-pills li:first-child {border-right: 1px solid #cccccc;}
.body-message .tab-content {padding: 35px;display: block !important;}
.body-message .tab-content p {font-family: 'GothamMedium'; margin: 0 auto 8px;}
.body-message .tab-content .call a {font-size: 1.5em;color: #A38067;font-weight: 600;}
form#download input {
  padding: 8px 35px 8px 15px;
}
form#download button {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  background-image: url('../img/home/pop-download.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.book-modal .modal-dialog {max-width: 90%;}

.bav_left_box {
  background: #A38067;
  margin-right: 0.938em;
  padding: 40px 30px;
  height: 100%;
}

.bav_left_box .section_title {
  color: #ffffff;
  margin: 0 auto 30px;
}

.bav_left_box .section_title:after {
  background-position: -100px -17px;
  background: url(../images/leafwhite.svg);
  /*top: -9%;*/
}

.bav_desc {
  color: #ffffff;
}

.bav_address,
.bav_time {
  font-family: GothamMedium;
  color: #ffffff;
  padding-left: 45px;
  margin: 35px auto;
  position: relative;
}

.bav_address:after {
  content: '';
  position: absolute;
  top: 5%;
  left: 0;
  background: url('../img/whitelocation.svg');
  /*background-position: -575px -121px;*/
  width: 20px;
  height: 29px;
  display: inline-block;
}

.bav_time:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  background: url('../img/duration.svg');
  /*background-position: -665px -125px;*/
  width: 20px;
  height: 20px;
  display: inline-block;
}

.back_icon {
  background-position: -220px -307px;
  width: 9px;
  height: 16px;
  display: inline-block;
}

.bav_form_box {
  /*display: none;*/
  position: absolute;
  width: 0%;
  height: 100%;
  left: -100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 0 5px #bdbdbd;
  visibility: hidden;
}

.bav_form_box.openForm {
  width: 100%;
  height: 100%;
  left: 0%;
  visibility: visible;
}

.bav_date_box {
  max-width: 51.750em;
  width: 100%;
  margin-bottom: 2.188em;
  padding: 0 50px;
}

.ui-datepicker-calendar {
  margin: auto;
}

.ui-datepicker-title {
  font-size: 1.3em;
  font-family: GothamMedium;
  color: #7B9140;
  letter-spacing: 0.3px;
  text-align: center;
}

.ui-icon-circle-triangle-w {
  position: relative;
  color: #ffffff;
  cursor: pointer;
  visibility: hidden;
}

.ui-state-disabled .ui-icon-circle-triangle-w:after {
  opacity: 0.4;
  cursor: not-allowed;
}

.ui-icon-circle-triangle-w:after {
  font-size: 0;
  background: url('../img/leftarrow.svg');
  /*background-position: -219px -34px;*/
  width: 13px;
  height: 22px;
  display: inline-block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.ui-icon-circle-triangle-e {
  position: relative;
  color: #ffffff;
  cursor: pointer;
  visibility: hidden;
}

.ui-state-disabled .ui-icon-circle-triangle-e:after {
  opacity: 0.4;
  cursor: not-allowed;
}

.ui-icon-circle-triangle-e:after {
  font-size: 0;
  background: url('../img/rightarrow.svg');
  /*background-position: -309px -34px;*/
  width: 13px;
  height: 22px;
  display: inline-block;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  max-width: 95%;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.bav_dt_box label {
  font-family: GothamBook;
  color: #878789;
  margin: 0 auto 30px;
}

a.ui-datepicker-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bav_right_box {
  position: relative;
  display: flex;
}

.bav_time_box.bav_dt_box {
  width: 100%;
  padding: 0 50px;
}

a.ui-datepicker-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ui-icon-circle-triangle-w, .ui-icon-circle-triangle-e {display: inline-block;width: 13px;}

.confirm.mangalyam_cta {
  margin-top: 1.250em;
  margin-bottom: 2.500em;
  opacity: 1
}

.confirm.mangalyam_cta.removePointer {
  pointer-events: none;
  opacity: 0.3;
}

.ui-datepicker-calendar th {
  font-family: GothamMedium;
  font-size: 25px;
  padding: 0.800em;
  text-align: center;
  font-weight: unset;
  color: #595959; 
}

.ui-datepicker-calendar td {
  text-align: center;
}

.ui-datepicker-calendar td span,
.ui-datepicker-calendar td a {
  font-family: GothamBook;
  font-size: 25px;
  margin: 15px;
  font-weight: unset;
}

.ui-datepicker-calendar td span {
  color: #E0E0E0;
  display: inline-block;
}

.ui-datepicker-calendar td a {
  color: #A38067;
  border: 1px solid transparent;
  text-decoration: none;
  transition: 0.3s ease;
  display: inline-block;
}

.ui-datepicker-calendar td a:hover {
  color: #7B9140;
  transition: 0.3s ease;
}

.ui-datepicker-calendar td.ui-datepicker-current-day a {
  background: #BDAF53;
  border-radius: 100%;
  color: #ffffff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 0;
  transition: 0.3s ease;
}

.bav_time_box.bav_dt_box ul {
  padding-left: 0;
  list-style: none;
  max-height: 15.063em;
  height: 100%;
  overflow: auto;
  padding-right: 1.000em;
}

.bav_time_box.bav_dt_box ul::-webkit-scrollbar {
width: 0.25em;
border-radius: 14px;
}

.bav_time_box.bav_dt_box ul::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(189, 175, 83, 0.3);
border-radius: 14px;
}

.bav_time_box.bav_dt_box ul::-webkit-scrollbar-thumb {
background-color: #BDAF53;
outline: 1px solid #7B9140;
border-radius: 14px;
}

.selectDate li {
  color: #878789;
  border: 1px solid #DBDBDB;
  margin-bottom: 1.333em;
  padding: 10px;
  cursor: pointer;
}

.selectDate li:hover,
.selectDate li.current {
  color: #BDAF53;
  border: 1px solid #BDAF53;
}

.bav_form_inner_box {
  max-width: 31.250em;
  width: 100%;
  padding: 20px;
}

#bookavisit {margin-top: 25px;}

.print-data {
  color: #7B9140;
  font-family: GothamMedium;
  letter-spacing: 0.5px;
  padding: 20px 0;
}

.bav_form_box a:not([href]):not([tabindex]), .back_btn {
  font-size: 1em;
  font-family: GothamMedium;
  color: #878789;
  border-bottom: 1px solid;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.back_icon {
  background-position: -220px -307px;
  width: 9px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  /*transform: scale(0.6);*/
}



.section-divide {
  padding: 50px 0;
}
.section-wrapper {
  padding: 0 15px;
}
.sect-title h2 {
  font-size: 45px;
  font-family: Georgia;
  line-height: 50px;
  letter-spacing: 1px;
}
.sect-title p {
  max-width: 800px;
  margin: 0 auto;
  margin: 25px auto 45px;
}


.quote-wrap {
  max-width: 1054px;
  width: 100%;
  margin: 50px auto;
}
.quote-wrap h3 {
  font-size: 60px;
  font-family: Georgia;
  letter-spacing: 0.8px;
  line-height: 68px;
  position: relative;
}
.quote-wrap h3:before, .quote-wrap h3:after {
  content: '';
  background-image: url("../img/home/quote-up.svg");
  position: absolute;
  width: 55px;
  height: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
}
.quote-wrap h3:before {
  top: -60px;
}
.quote-wrap h3:after {
  bottom: -60px;
}

.single-item .slick-slide {
  position: relative;
}
.single-item img {
  max-width: 100%;
  display: block;
}
.single-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
}
.single-dbox {
  background-color: #232D06;
  opacity: 0.8;
  height: 100%;
  width: 90%;
  display: flex;
  margin-left: auto;
  position: relative;
  z-index: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.single-dbox:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;
  border: 1px solid #9F8E4A;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  z-index: -1;
}
.single-name, .single-divider, .single-tag, .single-detail {
  padding: 10px 0;
}
.single-btn {
  padding: 20px 0;
}
.single-tag h3 {
  font-family: "Georgia";
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0.4px;
}
.single-detail p {
  color: #fff;
}


/*  Improved Responsive Embed  */
.Responsive-Ratio {
	position: relative;
	margin: 0 auto;
	overflow: visible;
}
.Responsive-Ratio:after {
	padding-bottom: 56.5%;
	display: block;
	content: '';
}
/* No psuedo-element fallback */
.no-generatedcontent .Responsive-Ratio {
  width: 100%;
  padding-bottom: 56.5%;
}
/*.Responsive-Embed iframe,
.Responsive-Embed object,
.Responsive-Embed embed,
.Responsive-Embed video,
.Responsive-Embed img, */
.Responsive-Ratio .Fit,
.Responsive-Ratio.Fit-Content > video {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
}
.Responsive-Ratio.Dynamic:after {
  padding-bottom: 50%;
}
.full-width {
  position: relative;
}
.full-width .club-box {
  position: absolute;
  height: 100%;
  width: 25em;
  right: 0;
  top: 0;
}
.Dynamic .club-box .single-dbox {
  left: 0;
}


.videoPoster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image:url('https://dummyimage.com/1920x1080/');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.videoPoster:hover {
  cursor: pointer;
}
.videoPoster:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 2px solid #fff;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
.videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 35px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
}
.videoPoster:hover:before,  .videoPoster:focus:before {
    border-color: #ffffff;
}
.videoPoster:hover:after, .videoPoster:focus:after {
  border-left-color: #ffffff;
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}
.video-sect .club-box {width: 36%;display: flex;align-items: center;}
.video-sect .club-box .single-dbox {max-width: 100%;width: 100%;height: calc(100% - 40%);margin: 0 auto;}
.video-sect .club-box .single-dbox {position: relative;left: 0;top: 0;}
.video-sect .club-box {right: 5%;}
.video-sect .single-divider, .video-sect .single-tag {padding: 0;}
.video-sect .single-dbox:before {border: 1px solid #ffffff;}
.video-sect .single-dbox {background-color: #9f8e4a;background-image: none;}
.video-sect .club-box .single-divider h2 {color: #ffffff;}
.video-sect .single-btn {display: none;}

.limited {position: relative;}

.club-box {
  position: relative;
}
.club-box .single-dbox {
  position: absolute;
  top: 8%;
  left: 10%;
  max-width: 30%;
  height: calc(100% - 15%);
}
.club-box .single-tag h3 {
  font-family: 'Didot';
  font-size: 26px;
  letter-spacing: 6px;
  padding: 0 25px;
}

.club-box .single-tag.last-tag h3 {
  font-size: 30px;
}
.single-divider h2 {
  font-family: 'Didot';
  font-size: 70px;

}
.club-box .single-divider h2 {color: #9F8E4A;}
.club-box .single-btn {
  margin: 60px auto 0;
}

.attract-content h4 {
  font-family: 'GothamMedium';
  font-size: 1em;
  color: #707070;
  margin: 30px 0 20px;
}
.attract .sect-title p {max-width: 950px;}

.moretext {display: none;height: auto !important;}
.moreless-button {text-decoration: underline;color: #7B9140;}

.testimonial {
  margin-bottom: 50px;
}
.testimonial .cards {
  padding: 35px;
}
.testimonial .slick-slide .cards {
  transform: scale(1, 0.9);
  box-shadow: 0 0 5px #bdbdbd;
  margin-bottom: 8px;
}
.testimonial .slick-current .cards {
  transform: scale(1);
  background-color: #ffffff;
}
.testimonial p {
  max-width: 100%;
}
.testimonial .single-divider {
  padding: 25px 0;
}
.user-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-name {
  display: flex;
  align-items: center;
  justify-content: left;
}
.user-name img {
  max-width: 35%;
}
.user-name span {font-size: 1em;padding: 0 6px;}
.testimonial .Responsive-Ratio {
  height: 100%;
}
.testimonial .videoPoster {
  background-image:url('https://dummyimage.com/1050x650/');
}

/***** Listing *****/
.list-thumb ul {justify-content: space-between;}
.list-thumb {width: 100%;}
.list-text h2 {font-family: 'Georgia';font-size: 25px;line-height: 40px;}
.list-text a {color: #595959;text-decoration: underline;padding: 10px 0 0;font-size: 14px;}

/***** Inner *****/
.inner-banner .flex {align-items: center;}
.inner-banner .single-dbox {height: auto;padding: 40px;}

/***** Contact Us ******/

.static h1 {
  font-family: 'Georgia';
  font-size: 45px;
  color: #7B9140;
  letter-spacing: 3px;
  line-height: 1;
}
.contact {align-items: center;}
.contact h1, .contact .contact-form {margin: 30px auto;}
.contact .main {padding-top: 40px;}
.banner-align {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.contact .enquire, .contact .book {display: none;}

.contact-form input, .contact-form textarea {width: 100%;border: 1px solid #cccccc;padding: 8px 15px;font-size: 1em;color: #7B9140;font-family: 'GothamBook';}
textarea {height: 100px;}
.contact-form .input-group {position: relative;margin: 10px auto 15px;}
.contact-form label {
  position: absolute;
  top: 5px;
  font-size: 14px;
  color: #595959;
  margin: 5px;
  padding: 0 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.contact-form .active {
  top: -11px;
  font-size: 13px;
  background-color: #ffffff;
}
.contact-form .cta {font-family: 'GothamBook';}

form label.error, form label.error.active {
  position: relative;
  top: 3px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: red;
  font-family: "GothamBook";
}
form {position: relative;}
#subs label.error, #download label.error {
  position: absolute;
  bottom: -14px;
  top: initial;
}


/***** Thank you / 404*****/
.thank.flex {align-items: center;}
.left-banner {
  background-image: url('../img/thank/thank-banner.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  height: 100%;
}
.thank-data p {font-family: 'GothamMedium';font-size: 1em;color: #595959;margin: 25px 0;padding: 0 60px; }
.thank-data h1 {
  font-family: 'Georgia';
  font-size: 50px;
  color: #A38067;
  letter-spacing: 3px;
  line-height: 1;
}
.thank .thank-cta {margin: 50px auto 0;}
.thank a.cta, .thank a.cta:hover {color: #ffffff;}
.not-found-data img {margin: 20px auto;}
.not-found-data h2 {font-size: 30px;font-family: 'GothamMedium';color: #595959;margin: 30px auto;}


/***** Footer *****/
/* footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
} */
.footer-bg {
  background-color: #3C3C3C;
}
.footer-wrap {
  padding: 45px 0;
  width: 100%;
}
.line:before {
  content: '';
  position: absolute;
  width: 1px;
  border-right: 1px solid #fff;
  height: 45px;
  top: 16px;
  left: 0;
}

.partners-box {
  margin: 15px 0;
}
.partners-box h4 {
  color: #ffffff;
  font-size: 14px;
}
.logo-bx {
  padding: 15px 0 0;
}


.office-box {
  margin: 20px auto;
}
.office-box:last-child {
  margin: 20px auto 0;
}
h3.foot-title {
  color: #ffffff;
  font-family: 'GothamMedium';
  margin: 0 auto 15px;
  position: relative;
}
footer .office-box p, .office-box li, footer a {
  color: #ffffff;
}
footer .office-box p a {
  text-decoration: underline;
}

.office-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe-box, .input-prefix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.subscribe-box input {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 6px 5px;
  color: #f5d0d0;
  font-size: 14px;
}
.subscribe-box input:focus {
  background-color: transparent;
  box-shadow: none;
  color: #ffffff;
}
.input-prefix {
  height: 100%;
  border: 1px solid #ffffff;
  border-right: none;
  font-size: 14px;
  color: #ffffff;
  padding: 0 5px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.input-suffix .btn {
  padding: 4px 5px;
  border: 1px solid #ffffff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-left: none;
  margin-left: -2px;
  background-color: #7B9140;
}
.btn img {
  vertical-align: middle;
  max-width: 24px;
  padding: 5px;
}

.social-icons li {
  display: inline-block;
  padding: 0 15px 0 0;
}

.copyright {
  background-color: #2e2e2e;
}
.copyright p {
  color: #ffffff;
  font-size: 14px;
}


@media (min-width: 992px) {

  .mob-tab {display: none;}

  header .container {
    max-width: 100%;
    padding: 0;
  }

  .change .navbar {
    padding: 22px 0;
  }

  .parent-drop {position: relative;}
  .parent-drop .dropdown {
    position: absolute;
    background-color: #ffffff;
    padding: 8px 20px;
    width: 260px;
    display: none;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.05);
  }
  .parent-drop:hover .dropdown {display: block;}
  .parent-drop .dropdown:before {
    content: '';
    position: absolute;
    top: -7px;
    left: 35px;
    transform: translateX(-50%);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ffffff;
  }
  .parent-drop .dropdown li {padding: 10px 0;}
  .parent-drop .dropdown li:nth-child(2) {
    border: 1px solid #707070;
    border-left: none;
    border-right: none;
  }
  .parent-drop .fa {color: #ffffff;}

  .bav_date_box, .bav_time_box {margin: 30px auto 0;}

  /**** Contact ****/
  .contact .contact-form {padding: 0 20px 0 0;}

  /**** Listing ****/
  .listing-banner {
    background-image: url('https://dummyimage.com/1920x1080/000/fff');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
  }
  .list-thumb {
    position: absolute;
    bottom: 30px;
  }
  .list-thumb img {
    border: 2px dotted #ffffff;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
  }
  .list-thumb img:hover {border: 2px solid #ffffff;}
  .list-thumb li {}
  .list-thumb li:hover .list-text a {display: block;}
  .list-thumb li div {align-items: center;height: 94px;}
  .list-text {padding: 0 15px;}
  .list-text h2, .list-text p, .list-text a {color: #ffffff;}
  .list-text a {display: none;}
  

  /**** Inner *****/
  .inner-banner {
    background-image: url('https://dummyimage.com/2560x1080/');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .banner-strip {position: absolute;bottom: 0;left: 0;right: 0;background-color: #a38067;padding: 8px;}
  .banner-strip p {color: #ffffff;}
  .banner-strip ul {justify-content: space-around;max-width: 500px;margin: 0 auto;}

  /**** Footer ****/
  footer .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (min-width: 1200px) {
  /* header .container {
    max-width: 1180px;
  } */
}
@media (min-width: 1480px) {
  /* header .container {
    max-width: 1250px;
  } */
}

@media (min-width: 1399px) {
  .container {
    max-width: 1640px;
  }
}
@media (max-width: 1480px) {
  p, li {
    font-size: 15px;
  }

  .cta {padding: 12px 20px;}

  .static h1 {font-size: 30px;}

  .modal-dialog .modal-header {padding: 8px;}
  .modal-dialog .modal-header h4 {font-size: 16px;}
  .body-message .tab-content {padding: 25px;}

  
  .bav_time_box.bav_dt_box, .bav_date_box {padding: 0 20px;}

  .ui-datepicker-calendar th, .ui-datepicker-calendar td span, .ui-datepicker-calendar td a {
    font-size: 20px;
  }
  .bav_left_box {padding: 15px;}
  .bav_left_box .section_title {margin: 0 auto 18px;}
  .bav_address, .bav_time {margin: 18px auto;padding-left: 25px;}
  .selectDate li {padding: 5px 10px;}

  .banner {
    margin-bottom: 35px;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
  }
  header .navbar-nav .nav-item {margin: 0 3%;}

  .quote-wrap {max-width: 714px;}
  .quote-wrap h3 {
    font-size: 40px;
    letter-spacing: 0.8px;
    line-height: 50px;
  }

  .section-divide {
    padding: 40px 0;
  }
  .sect-title h2 {
    font-size: 40px;
  }
  .sect-title p {
    max-width: 600px;
  }
  
  .video-sect .club-box {right: 3%;}
  .video-sect .club-box .single-dbox {max-width: 90%;}

  .club-box .single-tag h3 {
    font-size: 1em;
  }
  .single-divider h2 {
    font-size: 2em;
  }
  .club-box .single-btn {
    margin: 50px auto 0;
  }
  
  /**** Inner ****/
  .inner-banner .single-dbox {padding: 25px;}

  /**** Contact ****/
  .contact-form input, .contact-form textarea {font-size: 14px;}

  /**** Footer ****/
  .partners-box h4 {
    font-size: 12px;
  }

  .copyright p {
    font-size: 12px;
  }
  
}
@media (max-width: 1280px) {
  p, li {
    font-size: 14px;
    line-height: 24px;
  }

  .breadcrumb ul li {font-size: 12px;}
  
  .banner-text {
    font-size: 35px;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
  }

  header .navbar-nav .nav-item {margin: 0 12px;}
  .navbar-light .navbar-nav .nav-link {font-size: 14px;}
  .parent-drop .fa-angle-down {top: 10px;right: -10px;}
  
  .navbar-nav.ml-auto.first {width: 48%;}
  .navbar-nav.ml-auto.second {width: 40%;}

  .sticky-content h3 {
    font-size: 15px
  }
  .sticky-content div {
    padding: 10px;
  }
  .sticky-content .download, .sticky-content .whatsapp {
    padding: 9px;
  }

  .body-message .tab-content .call a {font-size: 1.2em;}
  .modal-dialog .modal-header h4 {font-size: 15px;}
  .ui-datepicker-calendar th, .ui-datepicker-calendar td span, .ui-datepicker-calendar td a {font-size: 16px;}
  .ui-datepicker-title {font-size: 1em;}

  .sect-title h2 {
    font-size: 35px;
  }

  .single-name img {
    max-width: 60%;
    margin: 0 auto;
  }
  .single-tag h3, .club-box .single-tag h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .club-box .single-tag.last-tag h3 {font-size: 18px;}
  .club-box .single-tag h3 {letter-spacing: 3px;}

  h3.foot-title {
    font-size: 16px;
  }

  .club-box .single-tag h3 {padding: 0 8px;}

  .club-box .single-btn {
    margin: 30px auto 0;
  }

  .user-name span {font-size: 14px;}
  .user-rate img {max-width: 100px;}

  /**** Contact *****/
  .contact-form input, .contact-form textarea {font-size: 14px;}
  .cta {font-size: 16px;}

}
@media (max-width: 1024px) {
  header .navbar-nav .nav-item {
    margin: 0 4px;
  }
  .navbar-nav.ml-auto.first {width: 48%;}
  .navbar-nav.ml-auto.second {width: 40%;}
}
@media (max-width: 991px) {

  .pad-0 {padding: 0;}
  .desk-tab {display: none;}

  .bav_date_box {padding: 0 15px;}

  .breadcrumb {padding: 10px 0;}

  .static h1 {font-size: 25px;}


  .book-modal .modal-dialog {max-width: 100%;}
  .book-modal .modal-content {overflow-y: scroll;max-height: 460px;overflow-x: hidden;}
  .ui-datepicker-calendar th, .ui-datepicker-calendar td span, .ui-datepicker-calendar td a {font-size: 0.8em;}
  .ui-datepicker-calendar th {padding: 11px;}
  .ui-datepicker-calendar td {padding: 5px 0;}
  .ui-datepicker-title {font-size: 16px;}
  .bav_dt_box label {margin: 0 15px 20px;font-size: 15px;}
  .bav_time_box label {margin: 0 0 20px;}
  .bav_right_box {display: block;margin: 0 auto;}
  .bav_left_box {margin: 0;}
  .bav_date_box {padding: 0;margin-bottom: 20px;}
  .bav_time_box.bav_dt_box {padding: 0 15px;}
  .bav_time_box.bav_dt_box ul {max-height: 8.063em;height: auto;}


  .white {display: none;}
  .color {display: block;}

  .single-content .full-h {height: 100%;}

  .full-h,
  .static .main-container {height: auto;}

  header {
    background-color: #ffffff;
    box-shadow: 0 0 5px #bdbdbd;
  }
  .navbar {
    flex-direction: row-reverse;
    padding: 22px 0;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #595959;
  }
  #navbarNav {
    margin-top: 30px;
  }
  .navbar-brand {
    transform: none;
    left: 0;
    padding: 0;
  }
  .navbar-light .navbar-nav .nav-link {padding: 10px 0;}
  .navbar-brand img {max-width: 110px;}
  .parent-drop .dropdown a {padding: 4px 15px;}
  .parent-drop .dropdown {display: none;overflow: hidden;padding: 0 15px;}
  .parent-drop .slow {display: block;}
  .parent-drop .fa-angle-down {z-index: -1; right: 9px;}
  
  /**** Home ****/
  .banner-text {font-size: 25px;bottom: 80px;}
  .scrollto {bottom: 50px;}
  .banner {height: calc(100vh - 76px);}

  .limited .single-content {width: 42%;}
  .single-dbox {
    width: 100%;
  }
  .single-name, .single-divider, .single-tag, .single-detail {
    padding: 5px 0;
  }
  .single-name img {
    max-width: 35%;
  }
  .single-tag h3 {
    font-size: 12px;
  }
  .single-btn {
    padding: 5px 0 10px;
  }
  .cta {
    font-size: 15px;
  }

  .club-box .single-dbox {
    max-width: 16em;
  }
  .video-sect .club-box .single-dbox {max-width: 100%;}

  .testimonial {margin-bottom: 30px; text-align: center;}
  .testimonial .testimonial-item {margin-bottom: 60px;padding: 0 15px;}
  .testimonial .cards {padding: 25px;}
  .testimonial .slick-slide .cards {
    transform: scale(0, 0.9);
  }
  .testimonial .slick-current .cards {transform: scale(1);}
  .testimonial .Responsive-Ratio {margin-top: 20px;}
  .videoPoster {background-size: contain;}

  /**** Listing ****/
  .list-thumb .flex {display: block;text-align: center;}
  .list-thumb .container {max-width: 100%;padding: 0;}
  .list-thumb li {margin: 0 auto 25px;}
  .list-text {padding: 20px;}

  /**** Contact ****/
  .contact-form {text-align: center;}
  .contact .contact-form .cta {margin: 20px 0;}

  /**** Thanks *****/
  .thank {padding: 50px 0;}

}
@media (max-width: 991px) and (min-width: 767px) {
  footer .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .club-box .single-tag:first-child {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  body .mob-img {display: none;}
}
@media (max-width: 767px) {
  .sect-title h2, .quote-wrap h3 {
    font-size: 30px;
    line-height: 35px;
  }
  body .desk-img {display: none;}
  .modal-dialog .close {top: 6px; right: 10px;}
  .body-message .tab-content .call a {font-size: 1em;}
  form#download input {
    padding: 14px 35px 14px 14px;
  }
  form#download button {top: 10px;}

  .single-dbox {
    background-color: transparent;
  }
  .single-dbox:before, .single-name, .single-divider, .club-box .single-detail, .club-box .single-tag {
    display: none;
  }
  .single-tag {
    padding: 20px 0 0;
  }
  .single-detail {
    padding: 12px 0;
  }
  .single-tag h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .single-tag h3, .single-detail p {
    color: #A38067;
  }
  .limited .single-content {width: 100%;}
  .single-content, .club-box .single-dbox {
    position: relative;
  }

  .full-width .club-box {
    display: none;
  }

  .club-box .single-dbox {
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
  }
  .club-box .single-btn {
    padding: 0;
    margin: 30px 0 0;
  }

  .user-rate {max-width: 80px;}
  .user-name span {font-size: 13px;}
  .testimonial .single-divider {display: block;}
  
  /**** Pop up ****/
  .modal-dialog .nav-pills li {width: 50%;}

  /**** Contact ****/
  .contact-form input, .contact-form textarea {
    font-size: 13px;
    padding: 14px;
  }
  .contact-form .input-group {
    margin: 6px auto;
  }
  .contact-form label {top: 10px;}
  .contact-form .single-btn {
    padding: 6px 0 0;
  }

}
@media (max-width: 680px) {
  .sticky-content {
    top: initial;
    background-color: #a38067;
    right: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sect-title h2, .quote-wrap h3 {font-size: 25px;}
  .sticky-content .rotate {
    writing-mode: initial;
  }
  .sticky-content .rotate h3 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);    
  }
  .sticky-content h3 {
    font-size: 12px;
    vertical-align: middle;
    line-height: 24px;
  }
  .download h3 {line-height: 16px;}
  .sticky-content div {margin: 0;}

  /**** Footer ****/
  footer {margin-bottom: 44px;}
  .copyright p {text-align: center;line-height: 20px;padding: 5px 0;}

}
@media (max-width: 575px) {
  h3.foot-title {
    margin: 20px auto;
  }
  .last-accordian {
    margin-bottom: 20px;
  }
  .tab-content {
    padding-left: 10px;
    overflow: hidden;
    display: none;
  }
  .footer-wrap {
    margin: 0 auto;
    padding: 25px 0;
  }
  .tab-content .office-box {
    margin: 0 auto 20px;
  }
  .foot-title:after {
    content: '+';
    position: absolute;
    right: 0;
  }
  .tab-content .office-box:last-child {
    margin: 0 auto;
  }
  .foot-accordian:after {
    content: '-';
  }
  .office-box.last-child {margin: 40px auto 0;}
  .last-child .foot-title {
    margin-bottom: 15px;
  }
  .last-child .foot-title:after, .last-child .foot-accordian:after {
    display: none;
  }
}
